<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link rel="stylesheet" href="style.css">
</head>

<body>

    <div id="app" class="pager">

        <h1>ToBoo List</h1>

        <div id="add-container">
            <form action="" onsubmit="return false">
                <input type="text" name="newTask" id="input-task" v-model="newTask" @keyup.enter="addTask"
                    placeholder="write a task!" :class="{error: error}">
                <input type="submit" value="Add task" id="input-add" @click="addTask">
            </form>
        </div>

        <ul id="tasks-container" class="tasks">

            <template v-for="task in this.tasks">
                <li v-if="!task.done">
                    <input type="checkbox" name="" id="" v-model="task.done">
                    <input type="text" name="" id="" v-model="task.text">
                </li>
            </template>

        </ul>

        <div id="done-tasks-control">
            <h2>
                already done! &#128526;
            </h2>
            <button @click="clearDoneTasks">Clear</button>
        </div>

        <ul id="done-tasks-container" class="tasks">

            <template v-for="task in this.tasks">
                <li v-if="task.done">
                    <input type="checkbox" name="" id="" v-model="task.done">
                    <input type="text" name="" id="" v-model="task.text">
                </li>
            </template>

        </ul>

    </div>

    <script src="main.js"></script>

</body>

</html>